body {
  background-color: #F9F5E8;
  font-size: 20px;
  font-family: Courier;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 5px;
  padding: 28px;
  text-transform: capitalize;
  text-align: left;
  text-indent: 30px;
}

header {
  background-color: #D8D8D8;
  font-size: 20px;
  font-family: Courier;
  font-weight: bold;
  font-style: italic;
  line-height: 30px;
  letter-spacing: 5px;
  text-transform: capitalize;
  text-align: left;
  text-indent: 30px;
  border-style: outset;
  border-color: #BDBDBD;
}

li {
  display: inline;
  float: left;
  background-color: #D8D8D8;
  font-size: 20px;
  font-family: Courier;
  font-weight: bold;
  font-style: oblique;
  line-height: 30px;
  letter-spacing: 5px;
  text-decoration: underline;
  text-transform: capitalize;
  text-align: left;
  text-indent: 30px;
}

a {
  display: block;
  padding: 8px;
  background-color: #D8D8D8;
}

.active {
  background-color: transparent;
}

#titulo {
  text-decoration: overline underline;
  font-size: 30px;
  font-style: oblique;
}

ul {
  margin-left: auto;
}
