/* Estilo mejorado */

.body {
  background-color: #FFF0C9;
  font-size: 20px;
  font-family: Arial, sans-serif; /* Cambio de fuente para mejorar la legibilidad */
  font-weight: bold;
  font-style: normal;
  line-height: 1.5; /* Ajuste de la altura de línea para mejorar la legibilidad */
  letter-spacing: 1px;
  padding: 28px;
  text-transform: capitalize;
  text-align: left;
  text-indent: 30px;
}

header {
  background-color: #E6E6FA;
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: left;
  text-indent: 30px;
  border-style: outset;
}

li {
  display: inline;
  float: left;
  background-color: #E6E6FA;
  font-size: 20px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  line-height: 1.5;
  letter-spacing: 1px;
  text-decoration: underline;
  text-transform: capitalize;
  text-align: left;
  text-indent: 30px;
}

a {
  display: block;
  padding: 8px;
  background-color: #E6E6FA;
  color: #000; /* Cambio del color del texto a negro para mejorar el contraste */
}

.active {
  background-color: #E6E6FA;
}

#titulo {
  text-decoration: overline underline;
  font-size: 30px;
  font-style: italic;
}
