body{
    background-color:#8F8F8F;
    font-size:20px;
    font-family:Courier;
    font-weight:bold;
    font-style:normal;
    line-height:30px;
    letter-spacing:5px;
    text-decoration:overline;
    text-transform:capitalize;
    text-align:left;
    text-indent:30px;
}
header{
    background-color: #E2DEE4;
    font-size:20px;
    font-family:Courier;
    font-weight:bold;
    font-style:italic;
    line-height:30px;
    letter-spacing:5px;
    text-decoration:underline;
    text-transform:capitalize;
    text-align:left;
    text-indent:30px;
}
