body{
    background-color:#F0E68C;
    font-size:20px;
    font-family:Courier;
    font-weight:bold;
    font-style:normal;
    line-height:30px;
    letter-spacing:5px;
    padding: 28px;
    text-transform:capitalize;
    text-align:left;
    text-indent:30px;
}
header{
    background-color:#FFA07A;
    font-size:20px;
    font-family:Courier;
    font-weight:bold;
    font-style:italic;
    line-height:30px;
    letter-spacing:5px;
    text-transform:capitalize;
    text-align:left;
    text-indent:30px;
}
li {
    display: inline;
    float: left;
    background-color:#FFFFFF;
    font-size:20px;
    font-family:Courier;
    font-weight:bold;
    font-style:oblique;
    line-height:30px;
    letter-spacing:5px;
    text-decoration:underline;
    text-transform:capitalize;
    text-align:left;
    text-indent:30px;
  }

  
a {
    display: block;
    padding: 8px;
    background-color:#ffffff;
  }
.active {
    background-color: #fefefe;
  }

  #titulo{
    text-decoration: overline underline;

  }