body{
  background-color:#fefec0be;
  font-size:20px;
  font-family:Courier;
  font-weight:bold;
  font-style:normal;
  line-height:30px;
  letter-spacing:5px;
  padding: 28px;
  text-transform:capitalize;
  text-align:left;
  text-indent:30px;
  
}
header{
  background-color:#6cbe39;
  font-size:20px;
  font-family:Courier;
  font-weight:bold;
  font-style:italic;
  line-height:60px;
  letter-spacing:5px;
  text-transform:capitalize;
  text-align:left;
  text-indent:60px;
  border-style: outset;
  border-color: #000000;
  border-width: .4ch;
  
}
li {
  display: inline;
  float: left;
  background-color:#6cbe39;
  font-size:20px;
  font-family:Courier;
  font-weight:bold;
  font-style:oblique;
  line-height:30px;
  letter-spacing:5px;
  text-decoration:underline;
  text-transform:capitalize;
  text-align:left;
  text-indent:30px;
  border-style:inherit;
  border-color: #303130;
  padding: 12px;
}


a {
  display: block;
  padding: 8px;
  background-color:#6cbe39;
}
.active {
  background-color:transparent;
  
}

#titulo{
  text-decoration: overline underline;
  font-size:30px;
  font-style:oblique;

}

p{
  
    font-size: 30px;
    font-family: Courier;
    font-weight: bold;
    font-style:italic;
    line-height: 30px;
    letter-spacing: 5px;
    text-transform: capitalize;
    text-align: left;
    text-indent: 30px;
    margin-left: auto;
    color: #2e2e2e; 
      background-color: #ffffff; 
    

    }
    
  ol{
    
      font-size: 20px;
      font-family: Courier;
      font-weight:200;
      font-style: normal;
      line-height: 30px;
      letter-spacing: 5px;
      text-transform: capitalize;
      text-align: left;
      text-indent: 30px;
      color: #2e2e2e; 
      padding-left: 40px; 
    }
    h1{
      font-size: 30px;
      font-family: Courier;
      font-weight: bold;
      font-style:italic;
      line-height: 30px;
      letter-spacing: 5px;
      text-transform: capitalize;
      text-align: left;
      text-indent: 30px;
      margin-left: auto;
      color: #2e2e2e; 
        background-color: #b3e64c; 
    }
    h2 {
      font-size: 30px; 
      font-family: Arial, sans-serif; 
      font-weight: bold; 
      font-style: normal; 
      line-height: 1.5; 
      letter-spacing: 1px; 
      text-transform: uppercase; 
      text-align: center; 
      color: #333333; 
      margin-top: 20px; 
      margin-bottom: 20px; 
    }
    ul{
      font-size: 18px;
      font-family: Courier;
      font-weight:200;
      font-style:initial;
      line-height: 30px;
      letter-spacing: 4px;
      text-transform: capitalize;
      text-align: left;
      text-indent: 20px;
      color: #000000; 
      padding-left: 70px; 
      padding-right: 70px; 

    }
    
  h3{
    font-size: 30px;
    font-family: Courier;
    font-weight: bold;
    font-style:italic;
    line-height: 30px;
    letter-spacing: 5px;
    text-transform: capitalize;
    text-align: left;
    text-indent: 30px;
    margin-left: auto;
    color: #2e2e2e; 
      background-color: #b3e64c; 
  }
  h4 {
    font-size: 30px; 
    font-family: Arial, sans-serif; 
    font-weight: bold; 
    font-style: normal; 
    line-height: 1.5; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
    text-align: center; 
    color: #333333; 
    margin-top: 20px; 
    margin-bottom: 20px; 
  }
  @keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-40px); }
    100% { transform: translateY(0); }
  }
  
  .bounce {
    animation: bounce 1.0s infinite;
  }
  
  .slider-section img{
    width: 500px;
    height: 100%;
    object-fit: cover;
    border-radius:  15px;
  }

  .container-carrousel{
    width: 500px;
    height: 300px;
    background-color: #e0e0e0;
    border-radius: 15px;
    overflow: hidden;
   justify-content: center;

  }

  .carruseles{
    width: 400%;
    height: 100%;
    display: flex;
    border: solid thin red;
  }

  .slider-section{
    width: calc(100%/4);
    height: 100%;

  }

  .btn-left, .btn-right{
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff81;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
  }