body{
    background-color:#d59e11d2;
    font-size:20px;
    font-family:Courier;
    font-weight:bold;
    font-style:normal;
    line-height:30px;
    letter-spacing:5px;
    padding: 28px;
    text-transform:capitalize;
    text-align:left;
    text-indent:30px;
}
header{
    background-color:#32aedba2;
    font-size:20px;
    font-family:Courier;
    font-weight:bold;
    font-style:italic;
    line-height:30px;
    letter-spacing:5px;
    text-transform:capitalize;
    text-align:left;
    text-indent:30px;
    border-style: outset;
}
li {
    display: inline;
    float: left;
    background-color:#3ea5cbca;
    font-size:20px;
    font-family:Courier;
    font-weight:bold;
    font-style:oblique;
    line-height:30px;
    letter-spacing:5px;
    text-decoration:underline;
    text-transform:capitalize;
    text-align:left;
    text-indent:30px;
  }

  
a {
    display: block;
    padding: 8px;
    background-color:#3ea5cbca;
  }
.active {
    background-color: #3ea5cbca;
    
  }

  #titulo{
    text-decoration: overline underline;
    font-size:30px;
    font-style:oblique;

  }
  ul {
    margin-left: auto;
}
