
.body {
  background-color: #F9F5E8;
  font-size: 18px;
  font-family: "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.5px;
  padding: 20px 30px;
  text-transform: capitalize;
  text-align: left;
}

header {
  background-color: #D8D8D8;
  font-size: 22px;
  font-style: italic;
  line-height: 1.8;
  letter-spacing: 1px;
  text-indent: 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #BDBDBD;
}

ul {
  margin-left: auto; 
  list-style-type: none; 
}

li {
  display: inline-block;
  background-color: #D8D8D8;
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.5px;
  text-decoration: underline;
  text-transform: capitalize;
  margin-right: 20px;
}

a {

  background-color: #D8D8D8;
  color: #000;
  text-align: right;
}

.active {
  background-color: transparent; 
}

.encabezado {
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  align-items: center; /* Centra verticalmente los elementos */
}

.menu {
  margin-top: 20px; /* Agrega un margen superior */
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline;
  margin-left: 10px; /* Espacio entre elementos */
}

.menu ul li:first-child {
  margin-left: 0;
}